/**
 * Float Layout Activity 
 **/

* {
  box-sizing: border-box; /** establishing a box for everything**/
  text-align: center; /** aligning all the text to the center**/
}

body {
  font-size: 24px;
  line-height: 32px; /** seperation between text (line alignment)**/
  color: #333;
}

header {

	background: #ccc;
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
}

section {
  padding: 20px
  background: #ccc;
  margin-bottom: 20px;
}

#left {
  background-color: #666;
  color: #fff ;
  float:left;
  width: 33.3%;

}

#middle {
  float:left;
  background-color: #888;
  color: #fff ;
  width: 33.3%;
}

#right {
  background-color: #666;
  color: #fff ;
  float:left;
  width: 33.3%;
}

#full {
  background-color: #eee;
  color: #000 ;
  clear:both;
  overflow:auto; /** another way to clear floats**/
  width: 100%;
}

#division {
  background-color: #6ea3da;
  color: #000 ;
  padding:20px;
  margin-top: 20px;
}

aside {
  background-color: #fff;
  color: #000 ;
  float:left;
  margin-left: 30px; /**puts it to the side by this many pixels**/
  padding: 20px;
  height: 200px;
  border:  1px solid #eee;
  width: 33%;

}

footer {
    background: #ccc;
    padding: 20px;
    clear: both;
}
