requirements
	Express
	MySQL
	user authentication
	organize routes in controller files
	beautiful front end
	usage of npm package we did not use in class
	don't use models unless you're using sequelize
	build something cool (market place, game with highscores(using HTML 5 Canvas), a site where you can take quizzes like which character on the walking dead would you be)

optional

	handlebars
	usage of orm.js(could dry up code a lot)
	sequelize